.bash_history
.cache
.groovy
.laststarted
.java
.ssh
*.bak
*.log
config-history
fingerprints
init.groovy.d
nodes/docker-*
jobs/**/builds
logs
monitoring
plugins
plugins.txt
secrets
updates
users
war
workspace
org.jenkinsci.plugins.github_branch_source.GitHubSCMProbe.cache
