.bash_history
.cache
.groovy
.java
.lastStarted
.owner
.ssh

**/builds
*.bak
*.log
nodes/docker-*
plugins*

config-history
fingerprints
init.groovy.d
logs
monitoring
org.jenkinsci.plugins.github_branch_source.GitHubSCMProbe.cache
org.jenkinsci.plugins.workflow.flow.FlowExecutionList.xml
queue.xml
scm-sync-configuration
secrets
updates
users
war
workspace
