<?xml version='1.1' encoding='UTF-8'?>
<io.jenkins.docker.DockerTransientNode plugin="docker-plugin@1.1.3">
  <name>docker-36c16bf193de3</name>
  <description>Docker Agent [jenkinsci/slave:3.16-1-alpine on unix:/var/run/docker.sock]</description>
  <remoteFS>/home/jenkins</remoteFS>
  <numExecutors>1</numExecutors>
  <mode>NORMAL</mode>
  <retentionStrategy class="com.nirima.jenkins.plugins.docker.strategy.DockerOnceRetentionStrategy">
    <timeout>10</timeout>
  </retentionStrategy>
  <launcher class="io.jenkins.docker.connector.DockerComputerConnector$1">
    <launcher class="io.jenkins.docker.connector.DockerComputerAttachConnector$DockerAttachLauncher">
      <api>
        <dockerHost plugin="docker-commons@1.11">
          <uri>unix:/var/run/docker.sock</uri>
        </dockerHost>
        <connectTimeout>60</connectTimeout>
        <readTimeout>0</readTimeout>
      </api>
      <containerId>ab65ba4854861fc95eb547ab03b0f58806c1335b9023b82c3f1d2f6e119be6ca</containerId>
      <user></user>
      <remoteFs>/home/jenkins</remoteFs>
    </launcher>
    <val_-api reference="../launcher/api"/>
    <val_-containerId>ab65ba4854861fc95eb547ab03b0f58806c1335b9023b82c3f1d2f6e119be6ca</val_-containerId>
    <outer-class class="io.jenkins.docker.connector.DockerComputerAttachConnector">
      <user></user>
    </outer-class>
  </launcher>
  <label>docker-slave</label>
  <nodeProperties/>
  <containerId>ab65ba4854861fc95eb547ab03b0f58806c1335b9023b82c3f1d2f6e119be6ca</containerId>
  <containerName>36c16bf193de3</containerName>
  <dockerAPI reference="../launcher/launcher/api"/>
  <removeVolumes>false</removeVolumes>
  <cloudId>docker</cloudId>
</io.jenkins.docker.DockerTransientNode>