<?xml version='1.1' encoding='UTF-8'?>
<slave>
  <temporaryOfflineCause class="hudson.slaves.OfflineCause$LaunchFailed">
    <timestamp>1532161645850</timestamp>
  </temporaryOfflineCause>
  <name>ubuntu-s2</name>
  <description></description>
  <remoteFS>/home/jenkins.s3</remoteFS>
  <numExecutors>3</numExecutors>
  <mode>NORMAL</mode>
  <retentionStrategy class="hudson.slaves.RetentionStrategy$Always"/>
  <launcher class="hudson.plugins.sshslaves.SSHLauncher" plugin="ssh-slaves@1.26">
    <host>ubuntu-s2</host>
    <port>22</port>
    <credentialsId>1a69cdbb-be20-4bde-b30a-87ef9b2db969</credentialsId>
    <maxNumRetries>0</maxNumRetries>
    <retryWaitTime>0</retryWaitTime>
    <sshHostKeyVerificationStrategy class="hudson.plugins.sshslaves.verifiers.KnownHostsFileKeyVerificationStrategy"/>
  </launcher>
  <label></label>
  <nodeProperties/>
</slave>