<?xml version='1.1' encoding='UTF-8'?>
<io.jenkins.docker.DockerTransientNode plugin="docker-plugin@1.1.3">
  <name>docker-678633fa60f66</name>
  <description>Docker Agent [jenkinsci/slave:3.16-1-alpine on unix:/var/run/docker.sock]</description>
  <remoteFS>/home/jenkins</remoteFS>
  <numExecutors>1</numExecutors>
  <mode>NORMAL</mode>
  <retentionStrategy class="com.nirima.jenkins.plugins.docker.strategy.DockerOnceRetentionStrategy">
    <timeout>10</timeout>
  </retentionStrategy>
  <launcher class="io.jenkins.docker.connector.DockerComputerConnector$1">
    <launcher class="io.jenkins.docker.connector.DockerComputerAttachConnector$DockerAttachLauncher">
      <api>
        <dockerHost plugin="docker-commons@1.11">
          <uri>unix:/var/run/docker.sock</uri>
        </dockerHost>
        <connectTimeout>60</connectTimeout>
        <readTimeout>0</readTimeout>
      </api>
      <containerId>c42ff099d36bf48c31869ea1e4a4430a69a6c0c3fdb70f7ff4c35c4559847112</containerId>
      <user></user>
      <remoteFs>/home/jenkins</remoteFs>
    </launcher>
    <val_-api reference="../launcher/api"/>
    <val_-containerId>c42ff099d36bf48c31869ea1e4a4430a69a6c0c3fdb70f7ff4c35c4559847112</val_-containerId>
    <outer-class class="io.jenkins.docker.connector.DockerComputerAttachConnector">
      <user></user>
    </outer-class>
  </launcher>
  <label>docker-slave</label>
  <nodeProperties/>
  <containerId>c42ff099d36bf48c31869ea1e4a4430a69a6c0c3fdb70f7ff4c35c4559847112</containerId>
  <containerName>678633fa60f66</containerName>
  <dockerAPI reference="../launcher/launcher/api"/>
  <removeVolumes>false</removeVolumes>
  <cloudId>docker</cloudId>
</io.jenkins.docker.DockerTransientNode>