<?xml version='1.1' encoding='UTF-8'?>
<io.jenkins.docker.DockerTransientNode plugin="docker-plugin@1.1.3">
  <name>docker-3120c837b2144</name>
  <description>Docker Agent [jenkinsci/slave:3.16-1-alpine on unix:/var/run/docker.sock]</description>
  <remoteFS>/home/jenkins</remoteFS>
  <numExecutors>1</numExecutors>
  <mode>NORMAL</mode>
  <retentionStrategy class="com.nirima.jenkins.plugins.docker.strategy.DockerOnceRetentionStrategy">
    <timeout>10</timeout>
  </retentionStrategy>
  <launcher class="io.jenkins.docker.connector.DockerComputerConnector$1">
    <launcher class="io.jenkins.docker.connector.DockerComputerAttachConnector$DockerAttachLauncher">
      <api>
        <dockerHost plugin="docker-commons@1.11">
          <uri>unix:/var/run/docker.sock</uri>
        </dockerHost>
        <connectTimeout>60</connectTimeout>
        <readTimeout>0</readTimeout>
      </api>
      <containerId>663664a1d0b9afd15aae88c774f941a9c7b57d9db7a987abcb8c6c27199609fd</containerId>
      <user></user>
      <remoteFs>/home/jenkins</remoteFs>
    </launcher>
    <val_-api reference="../launcher/api"/>
    <val_-containerId>663664a1d0b9afd15aae88c774f941a9c7b57d9db7a987abcb8c6c27199609fd</val_-containerId>
    <outer-class class="io.jenkins.docker.connector.DockerComputerAttachConnector">
      <user></user>
    </outer-class>
  </launcher>
  <label>docker-slave</label>
  <nodeProperties/>
  <containerId>663664a1d0b9afd15aae88c774f941a9c7b57d9db7a987abcb8c6c27199609fd</containerId>
  <containerName>3120c837b2144</containerName>
  <dockerAPI reference="../launcher/launcher/api"/>
  <removeVolumes>false</removeVolumes>
  <cloudId>docker</cloudId>
</io.jenkins.docker.DockerTransientNode>